html {
    background: #121921;
}

#version {
    position: fixed;
    top: 3px;
    left: 3px;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.25);
}

* {
    position: absolute;
}

#frame {
    width: 100vw;
    height: 100vh;
}

header {
    width: 200px;
    height: 250px;
    left: calc((100vw - 200px) / 2);
    top: 100px;
}

#header {
    width: 200px;
    height: 250px;
}

.line {
    background: #cfcecd;
}

.leaf > * {
    position: static;
}

.leaf {
    text-decoration: none;
    transition: padding-top .5s;
}

.leaf:hover {
    padding-top: 5px;
}

.name {
    margin-top: 3px;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 12px;
    text-align: center;
    color: #a3a1a2;
}